:root {
    --footer-height: 1.5rem;
}

.footerContainer {
    height: var(--footer-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.15rem;
}

.footerContainer * {
    margin: 0px 5px 0px 5px;
}

button {
    height: 1.25rem;
}
