.nutritionalDialog {
    position: fixed;
    overflow-y: auto;

    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;

    border: var(--outline-color) solid 5px;
    border-radius: 20px;
    padding: var(--base-padding); 
}

.nutritionalDialog h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.nutritionalInfoDiv {
    height: calc(100% - 4rem);
    overflow-y: auto;
}

.errorMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: black 1px 1px 5px;

    color: red;
    height: calc(50% - 4rem);
    vertical-align: middle;
}

.closeNutrition {
    width: 30%;
    align-self: center;
    background-color: var(--main-background-color);
    height: 2rem;
}

.closeNutrition:hover {
    animation: 0.15s linear 0.025s 1 forwards hoverInteractButton;
}

@keyframes hoverInteractButton {
    to {
        background-color: var(--outline-color);
        color: var(--main-text-color);
        border: var(--main-background-color) solid 1px;
    }
}