.nutritionalDialog {
    position: fixed;
    top: 10%;
    left: 10vw;

    background-color: black;
    color: wheat;
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;

    border: red solid 5px;
    border-radius: 20px;
    padding: 50px; 
}

.closeNutrition {
    margin-top: 50px;
    width: 30%;
    align-self: center;
}