.mainDisplayDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: var(--base-padding);
    height: 100%;
}

.informationDiv {
    height: 3rem;
    padding: var(--base-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Selects the search div when necessary */
.informationDiv > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

/* Selects the div containing the search input and button */
.informationDiv > div:first-of-type > div:first-of-type {
    height: 100%;

    display: flex;
    align-items: center;

    gap: 5px;
}

.recipesDisplayDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 1%;
}

.pageButtonsDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: var(--base-padding);
    
    height: 2rem;
}

.pageButtonsDiv button {
    height: 2rem;
}

.pageButtonsDiv button:disabled{
    background-color: grey;
    color: black;
}