.mainDisplayDiv {
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    height: 100%;
    padding: var(--base-padding);
}

.informationDiv {
    height: 3rem;
}

.recipesDisplayDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 1%;
    height: min-content;
}

.pageButtonsDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
    height: 3rem;
}

/* Positioning and Sizing for recipe cards */
.recipeCardDiv {
    border: var(--outline-color) solid 5px;
    border-radius: 10px;
    padding: var(--base-padding);

    height: 100%;
    width: 49%;
    box-sizing: border-box;

    background-color: var(--secondary-background-color);
}

/* CSS for Inner Content of Recipe Cards */
.recipeCardDiv > h2 {
    font-weight: bold;
    color: var(--secondary-text-color)
}

/* Selects the first div in the recipe card.
    Which contains two divs, one that houses the ingredients
     and the other houses the instructions. */
.recipeCardDiv > div:nth-of-type(1) {
    display: flex;
    height: 75%;
    overflow-y: auto;

    border-top: var(--main-background-color) solid 2px;
    border-bottom: var(--main-background-color) solid 2px;
}

.recipeCardDiv > div:nth-of-type(1) div {
    width: 50%;
}

.recipeCardDiv > div:nth-of-type(2) {
    height: 25%
}

.recipeCardDiv > div:nth-of-type(2) button {
    background-color: var(--main-background-color);
    color: var(--secondary-text-color);
}

.recipeCardDiv > div:nth-of-type(2) button:hover {
    background-color: var(--outline-color);
    color: var(--main-text-color);
}